.board {
  display: grid;

  height: 45vw;
  width: 45vw;

  border: 2px solid black;

  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.player-title {
  text-align: center;
  font-size: 1.2rem;

  padding: 10px 0;
}
