/* Removes bullet points */
.previous-hits li {
  list-style-type: none;
}

/* Bolds and underlines player names */
.previous-hits .player-name {
  font-weight: bold;
  text-decoration: underline;
}

.previous-hits {
  margin-left: 10px;

  font-size: 0.9rem;
  text-align: center;
}

/* Boldens guess when a ship is sunk */
.previous-hits li.guess.sunk {
  font-weight: bold;
}
