#game-rules {
  margin: 20px 100px;

  font-size: 1.1rem;
}

#game-rules .description {
  font-weight: bold;
}

#game-rules > ul {
  list-style: disc;
  list-style-position: inside;
}

#game-rules > ul > li {
  margin: 5px 0;
}

/* Bolds the first word of the li rules. */
#game-rules li span.bold {
  font-weight: bold;
}

/* Stylings for mobile screen */
@media screen and (max-width: 600px) {
  #game-rules {
    margin: 40px 10%;
  }
}
